:root {
    --c-black: #1c232b;
    --c-grey: #6c7289;
    --c-cream: #f2eae2;
    --c-white: #ffffff;
    --c-green-500: #3d8168;
    --c-green-700: #1a4032;

    --space-500: 2.5rem;
    --space-400: 2rem;
    --space-300: 1.5rem;
    --space-200: 1rem;
    --space-100: 0.5rem;
    --space-50: 0.25rem;

    font-size: 16px;
}
